DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=Pheaktra123
DATABASE_NAME=Pheaktra

JWT_SECRET=123


MAILTRAP_HOST=smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USER=c33c506c338afe
MAILTRAP_PASS=313a4c388892f9
